<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About | Local Flex</title>
    <link rel="stylesheet" href="css/style.css">
    <%- include('header') -%>

</head>
<body>
  <h1>what's up!!</h1>
  <section id=about>
  <p>Thanks for stopping by! I hope you enjoy Local Flex, curated playlists of hip hop music from Boston and the surrounds, based on vibe. My goal is to make it as easy as possible for Bostonians and others to discover music they love, made by artists in their city.</p>

  <p>This project is a work in progress, and I'm open to any ideas, suggestions, and input. Am I missing an artist? Have a suggestion for a new playlist vibe? DM me on <a href=https://twitter.com/cassiemcapewell>Twitter</a> or <a href=https://www.instagram.com/cassiecapewell/>Instagram</a>.</p>

  <p> Additionally, this is an open project, and you can check out the source files on <a href=https://github.com/cassiecapewell/local-music-sharing-app/tree/main>GitHub</a>.</p>

  <p>I am passionate about hip hop and supporting the local scene. I also write for Underground Flex, a column in the Boston Compass all about local hip hop. You can check out my articles at <a href=https://www.cassiecapewell.com/writing>cassiecapewell.com</a>.</p>
  <br></br>
  <p>enjoy the vibes!</p>
</section>


  <script src="js/main.js"></script>
</body>
</html>
