<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>app</title>
    <link rel="stylesheet" href="css/style.css">
</head>
  <header>
    <!-- <h2><a href="/">name</h2>
    <!--<% if(typeof user === "undefined"){ %>
      <a href="/login" id=logInButton><button id="logo">log in</button></a>
    <% }else{ %>
      <a href="/login" id=logInButton><button id="logo">log out</button></a>
    <% } %> -->
  </header>
