<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">
    <%- include('header') -%>
</head>
<body>
    <h1>pick a vibe:</h1>
    <section id=playlists>
      <a href="/playlist-lit" class=playlist>lit</a>
      <a href="/playlist-chill" class=playlist>chill</a>
      <a href="/playlist-ladies" class=playlist>for the ladies</a>
      <a href="/playlist-hard" class=playlist>hard</a>
      <a href="/playlist-sad" class=playlist>sad boii</a>
      <a href="/playlist-funki" class=playlist>funki</a>
    </section>

    <!-- start of new code -->

  <script src="main.js"></script>
</body>
</html>
