<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/style-chill.css">
</head>
<body>

  <!-- LOGO AND HAMBURGER BEGIN -->
  <h2>name</h2>

  <nav role='navigation'>
  <div id="menuToggle">
  <!--
  A fake / hidden checkbox is used as click reciever,
  so you can use the :checked selector on it.
  -->
  <input type="checkbox" />

  <!--
  Some spans to act as a hamburger.

  They are acting like a real hamburger,
  not that McDonalds stuff.
  -->
  <span></span>
  <span></span>
  <span></span>

  <!--
  Too bad the menu has to be inside of the button
  but hey, it's pure CSS magic.
  -->
  <ul id="menu">
    <a href="/"><li>playlists</li></a>
    <a href="/featured"><li>featured dj set</li></a>
    <a href="/events"><li>local events</li></a>
    <a href="/about"><li>about</li></a>
  </ul>
  </div>
  </nav>
<!-- END HAMBURGER -->

<!-- START CLOUDS -->

    <div id="background-wrap">
    <div class="x1">
        <div class="cloud"></div>
    </div>

    <div class="x2">
        <div class="cloud"></div>
    </div>

    <div class="x3">
        <div class="cloud"></div>
    </div>

    <div class="x4">
        <div class="cloud"></div>
    </div>

    <div class="x5">
        <div class="cloud"></div>
    </div>
    </div>
    <!-- END CLOUDS -->


    <h1>chill</h1>
    <iframe src="https://open.spotify.com/embed/playlist/3VMw14CfJ8M4nvXGbQCIUZ" width="600" height="100" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>


</body>
</html>
